<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>${pageTitle}</title>
</head>
<body>
    <div>
        <h1 th:text="${fileName}"></h1>
    </div>
    <div class="tab-content" id="contentDiv">
        <p th:text="${fileContent}"></p>
    </div>
</body>
</html>